{{#if usuarios}}
<div>
<table class="table table-sm">
  <thead>
    <tr>
      <th>N°</th>
      <th>Nombre</th>
      <th>Email</th>
      <th>Contraseña</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    {{#each usuarios}}
    <tr>
      <td>{{@index}}</td>
      <td>{{nombre}}</td>
      <td>{{email}}</td>
      <td>{{password}}</td>
    <td>
        <!--
        {{#if done}}
          <a href="/tasks/{{_id}}/toggleDone" class="btn btn-dark">Incompleta</a>
        {{else}}
          <a href="/tasks/{{_id}}/toggleDone" class="btn btn-success">Completa</a>-->
        {{/if}}
        <div class="md-4">
          <a href="/usuarios/{{_id}}/edit" class="btn btn-info">Modificar</a>
        </div>
        <div class="mt-2 md-4">
          <a href="/usuarios/{{_id}}/delete" class="btn btn-danger">Eliminar</a>
        </div>
        
        
      </td>
    </tr>

    {{/each}}
  </tbody>
</table>

{{else}}
    <div class="h-100 d-flex align-item-center justify-content-center">
      <div class="text-center text-white">
      <h1>No hay Perfil regsitrado</h1>
      <img src="https://www.designisfels.net/wp-content/uploads/2021/04/il-editorial@3x.png" width="200" height="200" alt="">
    </div>
    </div>
{{/if}}

</div>