{{#if nots}}
<div>
<table class="table table-sm">
  <thead>
    <tr>
      <th>N°</th>
      <th>Registro</th>
      <th>Nombre de la noticia</th>
      <th>Link</th>
      <th>Foto</th>

    </tr>
  </thead>
  <tbody>
    {{#each nots}}
    <tr>
      <td>{{@index}}</td>
      <td>{{registro}}</td>
      <td>{{nombreNoticia}}</td>
      <td>{{link}}</td>
      <td>{{foto}}</td>
      <td>
        <!--
        {{#if done}}
          <a href="/chars/{{_id}}/toggleDone" class="btn btn-dark">Incompleta</a>
        {{else}}
          <a href="/chars/{{_id}}/toggleDone" class="btn btn-success">Completa</a>-->
        {{/if}}
        <div class="md-4">
          <a href="/nots/{{_id}}/edit" class="btn btn-info">Modificar</a>
        </div>
        <div class="mt-2 md-4">
          <a href="/nots/{{_id}}/delete" class="btn btn-danger">Eliminar</a>
        </div>
        
        
      </td>
    </tr>

    {{/each}}
  </tbody>
</table>

{{else}}
    <div class="h-100 d-flex align-item-center justify-content-center">
      <div class="text-center text-white">
      <h1>No hay tareas</h1>
      <img src="/icons/contenedor.png" width="200" height="200" alt="">
    </div>
    </div>
{{/if}}

</div>